.mione img {
      width: 20%;
      height: 30%;
      border-radius: 70px;
      
}

.mione {
      text-align: center;
      font-family: "Roboto Flex", sans-serif;
      font-size: 18px;
      align-items: center;
   
}


body {
      background-color: rgb(131, 119, 143);
}

.potter {
      width: 50%;
      margin-left: 25%;
 
}

.container-potter {
      width: 100%;

}

h2 {
      color: rgb(0, 0, 0);
}